@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



.container{
    width: 100%;
    height: 100vh;
    background: #2f3332;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: #d6d6d6;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    margin: 10px;
    box-shadow: 8px 8px 10px #2d2b2b, -5px -5px 15px #fff;
    cursor: pointer;
    font-size: 20px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    background: #92f0ae;
    border-radius: 10px;
    height: 90px;
    box-shadow: 2px 2px 10px inset, -2px -2px 10px inset;
}

form .display input{
    text-align: right;
    flex: 1;
    box-shadow: none;
    font-size: 50px;
}

form input.equal{
    width: 145px;
    color: #0713f0;
}

.operator{
    color: #0713f0;
}